@import '~@fortawesome/fontawesome-svg-core/styles.css';
@import '~react-notion-x/src/styles.css';
@import '../fonts/SourceSansPro.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans leading-6 bg-bg text-fg;
    font-size-adjust: 0.5;
  }

  p {
    @apply text-fglight mb-4 last:mb-0;
  }

  strong {
    @apply text-fgbold font-bold;
  }

  .notion-viewport {
    visibility: hidden;
  }

  .notion-callout-text {
    display: unset;
  }

  .notion-asset-wrapper-image > div {
    height: auto !important;
  }
}
